table, th, td{
    border: 1px solid black;
    text-align: center;
}
#output{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    align-content: center;
}
h1{
    text-align: center;
}
body{
    background: linear-gradient(rgb(63, 44, 44), rgb(104, 90, 136));
}